

div > section{
    border: 1px solid rgb(223, 223, 223);
    width: 30%;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;

}

.uno{
    margin-top: 50px;
    border-top: solid 10px rgb(0, 187, 255);
    border-radius: 8px;
}

.dos{
    border-top: solid 10px red;
    border-radius: 8px;
}

.tres{
    border-top: solid 10px rgb(238, 255, 0);
    border-radius: 8px;
}

.cuatro{
    border-top: solid 10px rgb(65, 95, 155);
    border-radius: 8px;
}