.uno, .dos, .tres, .cuatro{
    border: 1px solid rgb(223, 223, 223);
    width: 23%;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

.cards > section{
    padding: 10px 30px;
    border-radius: 8px;
}

.uno{
    margin-top: 50px;
    border-top: solid 6px rgb(0, 187, 255);
}

.dos{
    border-top: solid 6px red;

}

.tres{
    border-top: solid 6px rgb(238, 255, 0);
}

.cuatro{
    border-top: solid 6px rgb(65, 95, 155);
}
.cards section img{
    width: 10%;
}

.cards section h2{
    font-size: 32px;
    color: hsl(234, 12%, 34%);
    font-weight: 900;
}

.cards section p{
    color: hsl(231, 15%, 67%);
    font-size: 20px;
}

.pp {
    font-size: 20px;
    color: hsl(231, 15%, 67%);
    text-align: center;
}
