div > section{
    border: 1px solid rgb(223, 223, 223);
    width: 30%;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.cards section{
    display: flex;
}

.cards section img{
    width: 13%;
    display: flex;
    align-items: flex-end;
    padding-left: 80%;    
}

.cards section h2{
    font-size: 27px;
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}

.pp {
    font-size: 20px;
    color: hsl(231, 15%, 67%);
    text-align: center;
}

.uno{
    margin-top: 50px;
    border-top: solid 6px rgb(0, 187, 255);
    border-radius: 8px;
}

.dos{
    border-top: solid 6px red;
    border-radius: 8px;
}

.tres{
    border-top: solid 6px rgb(238, 255, 0);
    border-radius: 8px;
}

.cuatro{
    border-top: solid 6px rgb(65, 95, 155);
    border-radius: 8px;
}